 {
	"name": "\u041d\u043e\u0432\u043e\u0441\u0442\u044c",
	"elements":  {
		"25bc3523-88fd-449c-8a8e-534e120c998d":  {
			"name": "\u0418\u0437\u043e\u0431\u0440\u0430\u0436\u0435\u043d\u0438\u0435 \u0430\u043d\u043e\u043d\u0441\u0430",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"upload_directory": "images\/uploads\/",
			"max_upload_size": "512",
			"upload_by_user": "0",
			"default_enable": "0",
			"default_image": "",
			"remove_with_item": "1",
			"type": "jbimage"
		},
		"82c27f86-2ceb-4089-9cd0-91bb9949da03":  {
			"name": "\u0422\u0435\u043a\u0441\u0442 \u0430\u043d\u043e\u043d\u0441\u0430",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"jplugins": "0",
			"type": "textarea"
		},
		"25474e74-7d2b-45ec-a92b-ed780caff639":  {
			"name": "\u041e\u0441\u043d\u043e\u0432\u043d\u043e\u0435 \u0438\u0437\u043e\u0431\u0440\u0430\u0436\u0435\u043d\u0438\u0435",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"upload_directory": "images\/uploads\/",
			"max_upload_size": "512",
			"upload_by_user": "0",
			"default_enable": "0",
			"default_image": "",
			"remove_with_item": "1",
			"type": "jbimage"
		},
		"6b038fda-7d8f-4d49-84b3-1898c5e263e7":  {
			"name": "\u0418\u043c\u044f \u0444\u043e\u0442\u043e\u0433\u0440\u0430\u0444\u0430",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"type": "text"
		},
		"eb5b3dbc-5a4d-42e4-ac60-63366d7e8aa3":  {
			"name": "\u041e\u0441\u043d\u043e\u0432\u043d\u043e\u0439 \u0442\u0435\u043a\u0441\u0442",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"jplugins": "1",
			"type": "textarea"
		},
		"8576a5d6-5f87-49df-83dd-a2868a622741":  {
			"name": "\u0441\u043c\u043e\u0442\u0440\u0438\u0442\u0435 \u0442\u0430\u043a\u0436\u0435",
			"description": "",
			"access": "1",
			"selectable_types":  {
				"0": "novost"
			},
			"type": "relateditems"
		},
		"8f41aecf-3790-4f61-bc65-42bcf0e105d6":  {
			"name": "\u0426\u0438\u0442\u0430\u0442\u0430",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"jplugins": "1",
			"type": "textarea"
		},
		"83798ef7-9f7e-4e1e-ae39-90d703965f38":  {
			"name": "\u0421\u043e\u0446\u0438\u0430\u043b\u044c\u043d\u044b\u0435 \u043a\u043d\u043e\u043f\u043a\u0438",
			"description": "",
			"access": "1",
			"likes_enabled": "1",
			"bookmarks_enabled": "0",
			"complex_enabled": "0",
			"bookmark_google": "1",
			"bookmark_technorati": "0",
			"bookmark_yahoo": "0",
			"bookmark_delicious": "0",
			"bookmark_stumbleupon": "0",
			"bookmark_digg": "0",
			"bookmark_facebook": "1",
			"bookmark_reddit": "0",
			"bookmark_myspace": "0",
			"bookmark_live": "0",
			"bookmark_twitter": "1",
			"bookmark_email": "0",
			"bookmark_blogger": "0",
			"bookmark_bobrdobr": "0",
			"bookmark_liveinternet": "0",
			"bookmark_livejournal": "1",
			"bookmark_mailru": "0",
			"bookmark_odnoklassniki": "0",
			"bookmark_vkontakte": "1",
			"bookmark_yandex": "0",
			"type": "jbsocial"
		},
		"cb65f929-341a-4926-96b4-797e606a1cbd":  {
			"name": "\u041a\u043e\u043c\u043c\u0435\u043d\u0442\u0430\u0440\u0438\u0438",
			"description": "",
			"access": "1",
			"fb_comments_enabled": "0",
			"vk_comments_enabled": "0",
			"fb_comm_app_id": "",
			"vk_comm_app_id": "",
			"type": "jbcomments"
		},
		"88a44482-ff09-4ec2-9cf9-a095835a6c13":  {
			"name": "\u0411\u0430\u043d\u043d\u0435\u0440 (\u043a\u0430\u0440\u0442\u0438\u043d\u043a\u0430)",
			"description": "",
			"access": "1",
			"upload_directory": "images\/zoo\/uploads\/",
			"max_upload_size": "512",
			"type": "image"
		},
		"a4238bf1-fad3-4462-a9f0-fa7657479ff2":  {
			"name": "\u0411\u0430\u043d\u043d\u0435\u0440 (html)",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"jplugins": "1",
			"type": "textarea"
		},
		"902ac6a6-4e0e-404d-a00d-4368535ac0c1":  {
			"name": "\u041f\u043e\u0445\u043e\u0436\u0438\u0435 \u043c\u0430\u0442\u0435\u0440\u0438\u0430\u043b\u044b",
			"description": "",
			"access": "1",
			"type": "jbrelatedauto"
		},
		"_itemaccess":  {
			"name": "Access",
			"description": "",
			"access": "1",
			"type": "itemaccess"
		},
		"_itemauthor":  {
			"name": "Author",
			"description": "",
			"access": "1",
			"type": "itemauthor"
		},
		"_itemcategory":  {
			"name": "Categories",
			"description": "",
			"access": "1",
			"type": "itemcategory"
		},
		"_itemcommentslink":  {
			"name": "Comments Link",
			"description": "",
			"access": "1",
			"type": "itemcommentslink"
		},
		"_itemcreated":  {
			"name": "Creation Date",
			"description": "",
			"access": "1",
			"type": "itemcreated"
		},
		"_itemedit":  {
			"name": "Edit",
			"description": "",
			"access": "1",
			"type": "itemedit"
		},
		"_itemfrontpage":  {
			"name": "Frontpage Enabled",
			"description": "",
			"access": "1",
			"type": "itemfrontpage"
		},
		"_itemhits":  {
			"name": "Hits",
			"description": "",
			"access": "1",
			"type": "itemhits"
		},
		"_itemlink":  {
			"name": "Item Link",
			"description": "",
			"access": "1",
			"type": "itemlink"
		},
		"_itemmodified":  {
			"name": "Modification Date",
			"description": "",
			"access": "1",
			"type": "itemmodified"
		},
		"_itemname":  {
			"name": "Name",
			"description": "",
			"access": "1",
			"type": "itemname"
		},
		"_itemprint":  {
			"name": "Print",
			"description": "",
			"access": "1",
			"type": "itemprint"
		},
		"_itempublish_down":  {
			"name": "Publish Down Date",
			"description": "",
			"access": "1",
			"type": "itempublish_down"
		},
		"_itempublish_up":  {
			"name": "Publish Up Date",
			"description": "",
			"access": "1",
			"type": "itempublish_up"
		},
		"_itemprevnext":  {
			"name": "Previous\/Next Link",
			"description": "",
			"access": "1",
			"type": "itemprevnext"
		},
		"_itemsearchable":  {
			"name": "Searchable",
			"description": "",
			"access": "1",
			"type": "itemsearchable"
		},
		"_itemstate":  {
			"name": "State",
			"description": "",
			"access": "1",
			"type": "itemstate"
		},
		"_itemtag":  {
			"name": "Tags",
			"description": "",
			"access": "1",
			"type": "itemtag"
		}
	}
}