 {
	"jbuniversal.news.full":  {
		"category":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"linked": "1",
				"separated_by": "separator=[ ]",
				"element": "_itemcategory"
			}
		},
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "0",
				"element": "_itemname"
			}
		},
		"image":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"display": "all",
				"template": "default",
				"group_popup": "1",
				"width": "100%",
				"height": "",
				"width_popup": "",
				"height_popup": "",
				"element": "25474e74-7d2b-45ec-a92b-ed780caff639"
			}
		},
		"photograf":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "6b038fda-7d8f-4d49-84b3-1898c5e263e7"
			}
		},
		"date":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"date_format": "%A, %d %B %Y",
				"custom_format": "",
				"element": "_itemmodified"
			}
		},
		"comm":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"element": "_itemhits"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"single_comment_text": "%s",
				"multiple_comments_text": "%s",
				"no_comments_text": "0",
				"element": "_itemcommentslink"
			}
		},
		"fulltext":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "eb5b3dbc-5a4d-42e4-ac60-63366d7e8aa3"
			}
		}
	}
}